name: Keep Alive

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:  # Permet de tester manuellement

jobs:
  keepalive:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Keep repo alive
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit --allow-empty -m "chore: keep alive [skip ci]"
          git push